<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" contentPartOne="text/html; charset=UTF-8"/>
    <meta name="viewport" contentPartOne="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
        <td align="center" bgcolor="#78ab46" style="padding: 40px 0 30px 0;">
            <p th:text="${subject}" color="black"> new ticket </p>
        </td>
    </tr>
    <tr>
        <td bgcolor="#eaeaea" style="padding: 40px 30px 40px 30px;">
            <p th:text="${toDear}" color="black">Body: </p>
            <span>Dear User, </span> <a th:href="@{'http://localhost:8080/ticket/' + ${ticketId}}"> Ticket </a> <span> was declined by the Manager</span>

        </td>
    </tr>
</table>

</body>
</html>