.flex-cont{
  display: flex;
}

svg.star {
  width: 45px;
  heigth: 45px;
}
svg.star__selected {
  fill: yellow;
}

    .button_simple {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    .button-simple-white {
      background-color: #4CAF50;
      color: black;
      border: 2px solid #4CAF50;
    }

    .button-simple-white:hover {
      background-color: white;
      color: black;
      text-decoration:none;
    }

    .h13{
    font-size: 24px;
    line-height: 40px;
    font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    line-height: 1;
    color: inherit;
    padding-left: 150px;
    text-rendering: optimizelegibility;
    text-align: center;
        }